/* counter */
.pageContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}

.section {
    text-align: center;

}


/* counter */
.sections {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sections img {
    height: 100px;
    width: auto;
}

.sections p {
    font-size: 24px;
    color: #f757a5;
    margin: 10px 0;

}

.number,
.sections span {
    font-size: 2.5rem;
    font-weight: bold;
    color: #f757a5;
}


/* Footer.module.css */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.section {
    flex: 1;
    margin-right: 20px;
}

h3 {
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    cursor: pointer;
}

.newsletterForm {
    display: flex;
    margin-top: 20px;
}

input {
    padding: 10px;
    flex: 1;
}

.go {
    background-color: #ff5733;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.appDownload {
    margin-top: 20px;
}