.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    /* height: 80px; */
    padding: .5em 1.5em;
    margin: 0% 1%;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;

}

.container:hover {
    background-color: orange;
    transform: scale(1.1);
}

.container:hover .btn {
    background-color: orange;
    color: #fff;
}

.img {
    width: 50%;
    height: auto;

}

.btn {
    border: none;
    background-color: #fff;
}